.userinfo {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.userinfo h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 60px;
  justify-self: center;
}

.userinfo span {
  display: block;
  font-size: 18px;
  margin: 20px 0 10px;
  color: #555;
}

.types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.types button {
  padding: 10px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.types .selected,
.genres .selected{
  background-color: #d0d0d0;
  border-color: #7475b7;
  border-width: 2px;
}

.types button:hover {
  background-color: #e0e0e0;
}

.genres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.genres button {
  padding: 10px;
  font-size: 14px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.genres button:hover {
  background-color: #e0e0e0;
}

.submituserdata {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submituserdata:hover {
  background-color: #0056b3;
}